**Muhammad Asim Riaz**
**Reg.No:FA20-BSE-001**
**SECTION A**

**Activity 1**
Display numbers on screen using Python IDLE.

In [ ]:
print("Hello world")
print("24")
print(4.2)
print(234)
print(45.90)

Hello world
24
4.2
234
45.9

**Activity 2**
Display strings on screen

In [ ]:
print('Hello')
print('Quote me on this !')
print("What’s your name?")
print("'You can use triple quote for multilines uses '")

Hello
Quote me on this !
What’s your name?
'You can use triple quote for multilines uses '

**Activity 3**
Use Python as a calculator.

In [ ]:
print(2+2)
print(50-4)
print(23-18.5)
print(5*6)
print(2.5 * 10)
print(2.5 * 10)
print( 2.5 * 2.5)
print(28/4)
print(26/4)
print(23.4 / 3.1)

4
46
4.5
30
25.0
25.0
6.25
7.0
6.5
7.548387096774193

**Activity 4**
Get an integer answer from division operation.

In [ ]:
print(28 // 4)
print( 26 // 4 )
print(type(int(26/4)))
print(type(int(28/4)))
print(26%4)
print(28%4)

7
6
<class 'int'>
<class 'int'>
2
0

**Activity 5**
Calculate the power values

In [ ]:
print(4**3)
print(4**10)
print(4**29)
print(4**150)
print(4**1000)

64
1048576
288230376151711744
2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376
114813069527425452423283320117768198402231770208869520047764273682576626139237031385665948631650626991844596463898746277344711896086305533142593135616665318539129989145312280000688779148240044871428926990063486244781615463646388363947317026040466353970904996558162398808944629605623311649536164221970332681344168908984458505602379484807914058900934776500429002716706625830522008132236281291761267883317206598995396418127021779858404042159853183251540889433902091920554957783589672039160081957216630582755380425583726015528348786419432054508915275783882625175435528800822842770817965453762184851149029376

**Activity 6:**
Math Experssion

In [ ]:
print(2+3*6)
print((2+3)*6)
print(48565878 * 578453)
print(2 + 2)
# print((5 – 1) * ((7 + 1) / (3 – 1)))
print(5 +7)
print(42 + 5 ** 2)

20
30
28093077826734
4
12
67

Activity 7:
Combine numbers and text.

In [ ]:
x="nancy"
print(x)
s="my lucky number is %d,what is your?"%7
print(s)
s="my lucky number is " +str(7) + ", what is your number?"
print(s)

nancy
my lucky number is 7,what is your?
my lucky number is 7, what is your number?

**Activity 8**
Take input from the keyboard and use it in your program.

In [ ]:
name=input("what is your name ")
print("my name is " + name)
job=input("What is your Job ")
print("my job is "+job)
num=input("What is your lucky number ")
print("my lucky number is "+num)

what is your name asim
my name is asim
What is your Job software engineer
my job is software engineer
What is your lucky number 3
my lucky number is 3